{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <!-- StyleSheet -->
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_index.css' %}">
    <link rel="shortcut icon" href="{% static 'img/icon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap-table.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-editable.css' %}">
    <!-- JavaScript-->
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {#    <script src="{% static 'js/jquery-ui.min.js' %}"></script>#}
    <script src="{% static 'js/echarts.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table.js' %}"></script>
    <script src="{% static 'js/bootstrap-table-zh-CN.js' %}"></script>
    {#    <script src="{% static 'js/serial.js' %}"></script>#}
    {#    <script src="{% static 'js/pie.js' %}"></script>#}
    <script src="{% static 'js/bootstrap-editable.js' %}"></script>
    <script src="{% static 'js/bootstrap-table-editable.js' %}"></script>

    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=2.0&ak=Ly8Gn95HHcLkzjkIkPUQoKAr9aqYmbwG"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js"></script>
    <style>
        .img-logo > img {
            width: 100%;
        }
    </style>
</head>
<body style="">
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#mynavbar">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="{% static 'img/logo.jpg' %}" alt="logo">千岛湖承载量预警平台</a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="mynavbar">
            <ul class="nav navbar-nav">
                <li><a href="{% url '[capacityWeb]:index' %}"><i class="fa fa-home"></i>主页</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false"><i
                            class="fa fa-star"></i>景区详情<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url '[capacityWeb]:meifeng' %}"><i class="fa fa-star"></i>梅峰岛</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:huangshanjian' %}"><i class="fa fa-star"></i>黄山尖</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:tianchi' %}"><i class="fa fa-star"></i>天池岛</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:yueguang' %}"><i class="fa fa-star"></i>月光岛</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:longsha' %}"><i class="fa fa-star"></i>龙山岛</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:yule' %}"><i class="fa fa-star"></i>渔乐岛</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:guihua' %}"><i class="fa fa-star"></i>挂花岛</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:mishan' %}"><i class="fa fa-star"></i>蜜山岛</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false"><i
                            class="fa fa-bar-chart"></i>预警分析<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'capacityWeb:mfanalysis' %}"><i class="fa fa-bar-chart"></i>梅峰岛</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'capacityWeb:hsanalysis' %}"><i class="fa fa-bar-chart"></i>黄山尖</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:tcanalysis' %}"><i class="fa fa-bar-chart"></i>天池岛</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:yganalysis' %}"><i class="fa fa-bar-chart"></i>月光岛</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:lsanalysis' %}"><i class="fa fa-bar-chart"></i>龙山岛</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:ylanalysis' %}"><i class="fa fa-bar-chart"></i>渔乐岛</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:ghanalysis' %}"><i class="fa fa-bar-chart"></i>挂花岛</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:msanalysis' %}"><i class="fa fa-bar-chart"></i>蜜山岛</a></li>
                    </ul>
                </li>
                <li><a href="{% url '[capacityWeb]:admin_warn' %}"><i class="fa fa-history"></i>预警管理</a></li>
                <li class="active"><a href="{% url '[capacityWeb]:admin' %}"><i class="fa fa-folder"></i>后台管理</a></li>
                <li><a href="{% url '[capacityWeb]:logout' %}" title="退出登录"><span
                        class="glyphicon glyphicon-off"></span></a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="modal fade" id="modal-replay">
    <div class="modal-dialog" style="width:70%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">视频回放</h4>
            </div>
            <div class="modal-body">
                <video id="vid2" controls autoplay="autoplay"
                       style="height: 100%;width: 100%;object-fit: fill;" src=""></video>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-warn">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">预警详情</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <th>预警位置</th>
                        <th id="scenicPlace"></th>
                    </tr>
                    <tr>
                        <th>预警等级</th>
                        <th id="level"></th>
                    </tr>
                    <tr>
                        <th>预警类型</th>
                        <th id="type"></th>
                    </tr>
                    <tr>
                        <th>发生时间</th>
                        <th id="curtime"></th>
                    </tr>
                    <tr>
                        <th>超预警人数</th>
                        <th id="exceedNums"></th>
                    </tr>
                    <tr>
                        <th>负责人</th>
                        <th id="admin"></th>
                    </tr>
                    <tr>
                        <th>电话</th>
                        <th id="phone"></th>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <th id="state"></th>
                    </tr>
                    <tr>
                        <th>画面</th>
                        <th>
                            <img id="pic" src="" alt="无" width="350">
                            <button class="btn btn-info" id="replay_btn">视频回放</button>
                        </th>
                    </tr>
                    <tr>
                        <th>操作</th>
                        <th id="notice">
                            <button class="btn btn-info" id="notice_btn">通知</button>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div>
    <div id="toolbar">
        <button id="addData" onclick="addUser()" class="btn btn-default">插入数据</button>
        <button id="saveTableData" onclick="saveAdded()" class="btn btn-default">保存更改至云端</button>
    </div>
    <table id="mytab" class="table table-hover"></table>
</div>
<HR align=center color=#987cb9 SIZE=1>

<div>
    <div id="toolbar2">
        <button id="addData2" onclick="addUser2()" class="btn btn-default">插入数据</button>
        <button id="saveTableData2" onclick="saveAdded2()" class="btn btn-default">保存更改至云端</button>
    </div>
    <table id="mytab2" class="table table-hover"></table>
</div>
</body>
</html>
<script>
    $('#mytab').bootstrapTable({
        url: '/capacityWeb/getAdminData/',
        dataType: 'json',
        method: 'get',
        toolbar: '#toolbar',
        striped: true,
        cache: false,
        pagination: true,
        sortable: true,
        sortOrder: 'asc',
        sidePagination: "client",
        pageNumber: 1,
        pageSize: 8,
        pageList: [10, 25, 50, 100],
        search: true,
        {#strictSearch: true, 是否使用模糊搜索#}
        searchOnEnterKey: false,

        showColumns: true,
        showRefresh: true,
        minimumCountColumns: 2,
        uniqueId: 'index',
        showToggle: false,
        cardView: false,
        detailView: true,

        onClickCell: function (field, value, row, $element) {
            if (field == 'index') {
                confirm("行号无法修改")
            } else if (field == 'id' && value != '') {
                confirm("设备id无法修改，若想更改只能删除再添加")
            } else {
                $element.attr('contenteditable', true);
                $element.blur(function () {
                    let index = $element.parent().data('index');
                    let tdValue = $element.html();

                    showAdded(index, field, tdValue);
                })
            }
        },
        onSearch: function (text) {

        },


        columns: [
            {
                field: 'index',
                title: '行号'
            },
            {
                field: 'id',
                title: '设备编号(确保唯一)'
            },
            {
                field: 'name',
                title: '设备名称'
            },
            {
                field: 'ip',
                title: '摄像头IP'
            },
            {
                field: 'type',
                title: '设备类型'
            },
            {
                field: 'location',
                title: '所属地区',
            },
            {
                field: 'status',
                title: '工作状态'
            },
            {
                field: 'person',
                title: '设备管理员'
            },
            {
                field: 'operate',
                title: '操作',
                width: 120,
                align: 'center',
                valign: 'middle',
                formatter: actionFormatter,
            },
            {
                field: 'checked',
                checkbox: true
            },

        ],
        onEditableSave: function (field, row, oldValue, $el) {
            $.ajax({
                type: "post",
                url: "/Edit/",
                data: row,
                dataType: 'JSON',
                success: function (data) {
                    console.log(data);
                },
                error: function (err) {
                    console.log(err);
                },
                complete: function () {
                }

            });
        }
    });

    function deviceForm(value, row, index) {
        return '<select><option value="1">摄像头</option><option>WIFI</option></select>'

    }

    {# 显示行为按钮 #}

    function actionFormatter(value, row, index) {

        var id = value;
        var result = '';
        var type = 0;
        {# 0表示摄像头，1表示wifi设备 #}
        if (row.type != '摄像头') {
            type = 1
        }
        {#result += "<a href='javascript:;' class='btn btn-xs blue' onclick=\"delUser(this)\" title='编辑'><span class='glyphicon glyphicon-pencil'></span></a>";#}
        {#result += "<a href='javascript:;' class='btn btn-xs red' onclick=\"delUser(row.id)\" title='删除'><span class='glyphicon glyphicon-remove'></span></a>";#}
        {#alert('<a class="btn btn-xs blue" title="删除" onclick="delUser(' + row.index + ',' +row.type  + ')"><span class="glyphicon glyphicon-remove"></span></a>')#}
        result += '<a class="btn btn-xs blue" title="删除" onclick="delUser(' + row.index + ',' + type + ',' + row.id + ')"><span class="glyphicon glyphicon-remove"></span></a>';
        result += '<a class="btn btn-xs blue" title="检测" onclick="detector(\'' + row.ip + '\',' + type + ')"><span class="glyphicon glyphicon-ok"></span></a>';


        return result;
    }

    function detector(ip, type) {
        if (type == 1) {
            confirm('该设备不是摄像头无法进行异常行为检测')
        } else {
            if (ip.indexOf("smoke") != -1) {
                confirm("开始检测游客吸烟！");
                run_smoke();
            } else if (ip.indexOf("fight") != -1) {
                confirm("开始检测游客打架！");
                run_fight();
            } else if (ip.indexOf("person") != -1) {
                confirm("开始检测游客出没！");
                run_person();
            } else {
                confirm("确认文件名是否正确");
            }
        }
    }

    {# 删除一条数据,并将被删数据的id发送给后端 #}

    function delUser(index, type, id) {
        var message = confirm("确认删除嘛？");
        if (message == true) {
            $('#mytab').bootstrapTable('removeByUniqueId', parseInt(index));
            $.get('/capacityWeb/deleteAdminData/', {'id': id, 'type': type, 'index': index}, function (msg) {
                {# 向后台发送被删除数据的id，后台在数据库中删除此行 #}
            });
        }
    }

    {# 在表格中新增加一行空行 #}

    function addUser() {
        $('#mytab').bootstrapTable('insertRow', {
                index: 0,
                row: {
                    index: '-1',
                    id: '',
                    name: '',
                    ip: '0.0.0.0',
                    location: '',
                    status: '开启',
                    person: '',
                    type: '摄像头',
                    {#operate: "formatter: function (value, row, index) {return '<button class=\"btn btn-primary btn-sm\" onclick=\"del(\'' + row.id + '\')\">删除</button>';}",#}
                }
            }
        );
    }

    {# 将新增的数据发送给后端 #}

    function saveAdded() {
        var rows = $('#mytab').bootstrapTable('getSelections');
        var rows_str = JSON.stringify(rows);
        if (rows.length == 0) {
            alert("去选择需要添加或者修改的数据")
        } else {
            $.get('/capacityWeb/addAdminData/', {'elements': rows_str}, function (msg) {
                let haveAdded = msg['haveAdded'];
                let haveChanged = msg['haveChanged'];
                let haveError = msg['haveError'];
                let message = msg['msg'];
                if (haveError == '1') {
                    alert("下列设备号重复，不予更新至云端：" + message);
                }
                if (haveAdded == '1') {
                    alert('添加成功，请你刷新页面');
                }
                if (haveChanged == '1') {
                    alert("修改成功，请你刷新页面");
                }

            });
        }
    }


    {# 展示正在编辑数据 #}

    function showAdded(index, field, value) {
        {#alert(value)#}
        $('#mytab').bootstrapTable('updateCell', {
            index: index,
            field: field,
            value: value
        })
    }


</script>
<script>
    $('#mytab2').bootstrapTable({
        url: '/capacityWeb/getAdminerData/',
        dataType: 'json',
        method: 'get',
        toolbar: '#toolbar2',
        striped: true,
        cache: false,
        pagination: true,
        sortable: true,
        sortOrder: 'asc',
        sidePagination: "client",
        pageNumber: 1,
        pageSize: 5,
        pageList: [10, 25, 50, 100],
        search: true,
        {#strictSearch: true, 是否使用模糊搜索#}
        searchOnEnterKey: false,

        showColumns: true,
        showRefresh: true,
        minimumCountColumns: 2,
        clickToSelect: false,
        uniqueId: 'index',
        showToggle: false,
        cardView: false,
        detailView: true,
        onClickCell: function (field, value, row, $element) {
            if (field == 'index') {
                confirm("行号无法修改");
            } else if (field == 'id' && value != '') {
                confirm("工号无法修改，若想更改只能删除再添加");
            } else {
                $element.attr('contenteditable', true);
                $element.blur(function () {
                    let index = $element.parent().data('index');
                    let tdValue = $element.html();

                    showAdded2(index, field, tdValue);
                })
            }


        },
        onSearch: function (text) {

        },

        columns: [
            {
                field: 'index',
                title: '行号'
            },
            {
                field: 'id',
                title: '工号(确保唯一)'
            },
            {
                field: 'name',
                title: '景点管理员名字'
            },
            {
                field: 'place',
                title: '管辖区域'
            },
            {
                field: 'phone',
                title: '联系电话'
            },
            {
                field: 'operate',
                title: '操作',
                width: 120,
                align: 'center',
                valign: 'middle',
                formatter: actionFormatter,
            },
            {
                field: 'checked',
                checkbox: true
            },

        ],
    });

    {# 显示行为按钮 #}

    function actionFormatter(value, row, index) {

        var id = value;
        var result = '';

        {#result += "<a href='javascript:;' class='btn btn-xs blue' onclick=\"delUser(this)\" title='编辑'><span class='glyphicon glyphicon-pencil'></span></a>";#}
        {#result += "<a href='javascript:;' class='btn btn-xs red' onclick=\"delUser(row.id)\" title='删除'><span class='glyphicon glyphicon-remove'></span></a>";#}
        {#alert('<a class="btn btn-xs blue" title="删除" onclick="delUser(' + row.index + ',' +row.type  + ')"><span class="glyphicon glyphicon-remove"></span></a>')#}
        result += '<a class="btn btn-xs blue" title="删除" onclick="delUser2(' + row.index + ',' + row.id + ')"><span class="glyphicon glyphicon-remove"></span></a>';

        return result;
    }


    {# 删除一条数据,并将被删数据的id发送给后端 #}

    function delUser2(index, id) {
        var message = confirm("确认删除嘛？");
        if (message == true) {
            $('#mytab2').bootstrapTable('removeByUniqueId', parseInt(index));
            $.get('/capacityWeb/deleteAdminerData/', {'id': id, 'index': index}, function (msg) {
                {# 向后台发送被删除数据的id，后台在数据库中删除此行 #}
            });
        }
    }

    {# 在表格中新增加一行空行 #}

    function addUser2() {
        $('#mytab2').bootstrapTable('insertRow', {
                index: 0,
                row: {
                    index: '-1',
                    id: '',
                    name: '',
                    place: '',
                    phone: ''
                }
            }
        );
    }

    {# 将新增的数据发送给后端 #}

    function saveAdded2() {
        var rows = $('#mytab2').bootstrapTable('getSelections');
        var rows_str = JSON.stringify(rows);
        if (rows.length == 0) {
            alert("去选择需要添加或者修改的数据")
        } else {
            $.get('/capacityWeb/addAdminerData/', {'elements': rows_str}, function (msg) {
                let haveAdded = msg['haveAdded'];
                let haveChanged = msg['haveChanged'];
                let haveErrorId = msg['haveErrorId'];
                let haveErrorIsland = msg['haveErrorIsland'];
                let messageId = msg['msgId'];
                let messageIsland = msg['msgIsland'];
                if (haveErrorIsland == '1') {
                    alert("下列岛屿名称错误，不予更新至云端：" + messageIsland);
                }
                if (haveErrorId == '1') {
                    alert("下列工号重复，不予更新至云端：" + messageId);
                }
                if (haveAdded == '1') {
                    alert('添加成功，请你刷新页面');
                }
                if (haveChanged == '1') {
                    alert("修改成功，请你刷新页面");
                }
            });
        }

    }

    {# 展示正在编辑数据 #}

    function showAdded2(index, field, value) {
        $('#mytab2').bootstrapTable('updateCell', {
            index: index,
            field: field,
            value: value
        })
    }

    {# 异常行为检测 #}

    function repeat(str, n) {
        return new Array(n + 1).join(str);
    }

    function showModalWarn(id) {
        $.ajax({
            url: '/getWarnDataById/',
            type: 'POST',
            data: {csrfmiddlewaretoken: '{{ csrf_token }}', 'warningId': id},
            async: false,
            success: function (arg) {
                var obj = JSON.parse(arg)[0];
                var modal = $("#modal-warn").modal({
                    backdrop: true, // 相当于data-backdrop
                    keyboard: false, // 相当于data-keyboard
                    show: true, // 相当于data-show
                    remote: "" // 相当于a标签作为触发器的href
                });
                modal.find('#scenicPlace').text(obj.scenicName);
                modal.find('#level').text(repeat('I', obj.level));
                modal.find('#pic').attr('src', '');
                var typeId = obj.type;
                var typeName = null;
                if (typeId == 1) {
                    typeName = '承载量预警';
                } else if (typeId == 2) {
                    typeName = '游客出没';
                    modal.find('#pic').attr('src', '/static/img/warning' + id + '.jpg');
                    modal.find('#replay_btn').attr('onclick', 'replay_person()');
                } else if (typeId == 3) {
                    typeName = '打架';
                    modal.find('#pic').attr('src', '/static/img/warning' + id + '.jpg');
                    modal.find('#replay_btn').attr('onclick', 'replay_fight()');
                } else {
                    typeName = '吸烟';
                    modal.find('#pic').attr('src', '/static/img/warning' + id + '.jpg');
                    modal.find('#replay_btn').attr('onclick', 'replay_smoke()');
                }
                modal.find('#type').text(typeName);
                modal.find('#curtime').text(obj.createAt);
                modal.find('#exceedNums').text(obj.exceedNums);
                var stateId = obj.state;
                var state = null;
                if (stateId == 1) {
                    state = '未通知';
                } else {
                    state = '已通知'
                }
                modal.find('#state').text(state);
                modal.find('#admin').text(obj.name);
                modal.find('#phone').text(obj.phone);
                modal.find('#notice_btn').attr("onclick", "Notice( " + id + " )");
            }
        });
    }

    function Notice(id) {
        $.ajax({
            url: '/capacityWeb/notice/',
            type: 'POST',
            data: {csrfmiddlewaretoken: '{{ csrf_token }}', 'warningId': id},
            async: false,
            success: function (arg) {
                var obj = JSON.parse(arg);
                alert(obj.msg);
            }
        });
    }

    function DetectWarn() {
        $.ajax({
            url: '/capacityWeb/DetectWarn/',
            type: 'POST',
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            async: false,
            success: function (arg) {
                var arg_json = jQuery.parseJSON(arg);
                var i;
                for (i = 0; i < arg_json.length; i++) {
                    var obj = arg_json[i];
                    var level = obj['level'];
                    var type = obj['type'];
                    var exceedNums = obj['exceedNums'];
                    var ScenicName = obj['ScenicName'];
                    var warningId = obj['warningId'];
                    var createAt = obj['createAt'];
                    var camId = obj['camId'];
                    if (type == 1 && level == 1) {
                        $('#container-warning').prepend('<a class="content-curwarn col-md-12" onclick="showModalWarn(' + warningId + ')"style="background-color: rgba(255,19,0,0.7)"> <span class="happen-time">- ' + createAt.substr(11, 5) + '  -</span>' + ScenicName + '-1级承载量预警 <span class="exceed-nums">超预警值：' + exceedNums + ' </span> </a>');
                    } else if (type == 1 && level == 2) {
                        $('#container-warning').prepend('<a class="content-curwarn col-md-12" onclick="showModalWarn(' + warningId + ')"style="background-color: rgb(255,163,0)"> <span class="happen-time">- ' + createAt.substr(11, 5) + '  -</span>' + ScenicName + '-2级承载量预警 <span class="exceed-nums">超预警值：' + exceedNums + ' </span> </a>');
                    } else if (type == 1 && level == 3) {
                        $('#container-warning').prepend('<a class="content-curwarn col-md-12" onclick="showModalWarn(' + warningId + ')"style="background-color: rgb(83,171,255)"> <span class="happen-time">- ' + createAt.substr(11, 5) + '  -</span>' + ScenicName + '-3级承载量预警 <span class="exceed-nums">超预警值：' + exceedNums + ' </span> </a>');
                    } else if (type == 2) {
                        $('#container-warning').prepend('<a class="content-curwarn col-md-12" onclick="showModalWarn(' + warningId + ')"style="background-color: rgba(255,19,0,0.7)"> <span class="happen-time">- ' + createAt.substr(11, 5) + '  -</span>' + ScenicName + '-摄像头' + camId + '-游客出没 </a>');
                    } else if (type == 3) {
                        $('#container-warning').prepend('<a class="content-curwarn col-md-12" onclick="showModalWarn(' + warningId + ')"style="background-color: rgba(255,19,0,0.7)"> <span class="happen-time">- ' + createAt.substr(11, 5) + '  -</span>' + ScenicName + '-摄像头' + camId + '-游客打架 </a>');
                    } else if (type == 5) {
                        $('#container-warning').prepend('<a class="content-curwarn col-md-12" onclick="showModalWarn(' + warningId + ')"style="background-color: rgba(255,19,0,0.7)"> <span class="happen-time">- ' + createAt.substr(11, 5) + '  -</span>' + ScenicName + '-摄像头' + camId + '-游客吸烟 </a>');
                    }
                    showModalWarn(warningId);
                }
            }
        });
    }

    setInterval(DetectWarn, 30000);

    function start_person() {
        $.ajax({
            url: '/start_run_person/',
            type: 'POST',
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            async: false,
            success: function (arg) {
                // var arg_json = JSON.parse(arg);
                // alert(arg_json.msg);
            }
        });
    }

    var interval;

    function detect_person() {
        $.ajax({
            url: '/detect_run_person/',
            type: 'POST',
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            async: false,
            success: function (arg) {
                var arg_json = JSON.parse(arg);
                var state = arg_json['state'];
                if (state) {
                    // alert('发现游客出没');
                    // DetectWarn();
                    clearInterval(interval);
                }
            }
        });
    }

    function run_person() {
        start_person();
        interval = setInterval(detect_person, 10000);
    }

    function start_fight() {
        $.ajax({
            url: '/start_run_fight/',
            type: 'POST',
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            async: false,
            success: function (arg) {
                var arg_json = JSON.parse(arg);
                // alert(arg_json.msg);
            }
        });
    }

    function detect_fight() {
        $.ajax({
            url: '/detect_run_fight/',
            type: 'POST',
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            async: false,
            success: function (arg) {
                var arg_json = JSON.parse(arg);
                var state = arg_json['state'];
                if (state) {
                    // alert('发现游客出没');
                    // DetectWarn();
                    clearInterval(interval);
                }
            }
        });
    }

    function run_fight() {
        start_fight();
        interval = setInterval(detect_fight, 10000);
    }

    function start_smoke() {
        $.ajax({
            url: '/start_run_smoke/',
            type: 'POST',
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            async: false,
            success: function (arg) {
                var arg_json = JSON.parse(arg);
                // alert(arg_json.msg);
            }
        });
    }

    function detect_smoke() {
        $.ajax({
            url: '/detect_run_smoke/',
            type: 'POST',
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            async: false,
            success: function (arg) {
                var arg_json = JSON.parse(arg);
                var state = arg_json['state'];
                if (state) {
                    // alert('发现游客出没');
                    // DetectWarn();
                    clearInterval(interval);
                }
            }
        });
    }

    function run_smoke() {
        start_smoke();
        interval = setInterval(detect_smoke, 10000);
    }

    function replay_person() {
        var modal = $("#modal-replay").modal({
            backdrop: true, // 相当于data-backdrop
            keyboard: false, // 相当于data-keyboard
            show: true, // 相当于data-show
            remote: "" // 相当于a标签作为触发器的href
        });
        modal.find('#vid2').attr('src', '/static/darknet/video/person_replay.mp4');
    }

    function replay_fight() {
        var modal = $("#modal-replay").modal({
            backdrop: true, // 相当于data-backdrop
            keyboard: false, // 相当于data-keyboard
            show: true, // 相当于data-show
            remote: "" // 相当于a标签作为触发器的href
        });
        modal.find('#vid2').attr('src', '/static/darknet2/video/fight_replay.mp4');
    }

    function replay_smoke() {
        var modal = $("#modal-replay").modal({
            backdrop: true, // 相当于data-backdrop
            keyboard: false, // 相当于data-keyboard
            show: true, // 相当于data-show
            remote: "" // 相当于a标签作为触发器的href
        });
        modal.find('#vid2').attr('src', '/static/darknet3/video/smoke_replay.mp4');
    }
</script>
