{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>预警管理</title>

    <!-- StyleSheet -->
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/adminwarn.css' %}">
    <link rel="shortcut icon" href="{% static 'img/icon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap-table.css' %}">
    <!-- JavaScript-->
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/echarts.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table.js' %}"></script>
    <script src="{% static 'js/bootstrap-table-zh-CN.js' %}"></script>
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=2.0&ak=Ly8Gn95HHcLkzjkIkPUQoKAr9aqYmbwG"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js"></script>
    <style>
        .img-logo > img {
            width: 100%;
        }
    </style>
</head>
<body style="">
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#mynavbar">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="{% static 'img/logo.jpg' %}" alt="logo">千岛湖承载量预警平台</a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="mynavbar">
            <ul class="nav navbar-nav">
                <li><a href="{% url '[capacityWeb]:index' %}"><i class="fa fa-home"></i>主页</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false"><i
                            class="fa fa-star"></i>景区详情<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url '[capacityWeb]:meifeng' %}"><i class="fa fa-star"></i>梅峰岛</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:huangshanjian' %}"><i class="fa fa-star"></i>黄山尖</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:tianchi' %}"><i class="fa fa-star"></i>天池岛</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:yueguang' %}"><i class="fa fa-star"></i>月光岛</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:longsha' %}"><i class="fa fa-star"></i>龙山岛</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:yule' %}"><i class="fa fa-star"></i>渔乐岛</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:guihua' %}"><i class="fa fa-star"></i>桂花岛</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:mishan' %}"><i class="fa fa-star"></i>蜜山岛</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false"><i
                            class="fa fa-bar-chart"></i>承载力分析<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'capacityWeb:mfanalysis' %}"><i class="fa fa-bar-chart"></i>梅峰岛</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'capacityWeb:hsanalysis' %}"><i class="fa fa-bar-chart"></i>黄山尖</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:tcanalysis' %}"><i class="fa fa-bar-chart"></i>天池岛</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:yganalysis' %}"><i class="fa fa-bar-chart"></i>月光岛</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:lsanalysis' %}"><i class="fa fa-bar-chart"></i>龙山岛</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:ylanalysis' %}"><i class="fa fa-bar-chart"></i>渔乐岛</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:ghanalysis' %}"><i class="fa fa-bar-chart"></i>桂花岛</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:msanalysis' %}"><i class="fa fa-bar-chart"></i>蜜山岛</a></li>
                    </ul>
                </li>
                <li class="active"><a href="{% url '[capacityWeb]:admin_warn' %}"><i class="fa fa-history"></i>预警管理</a>
                </li>
                <li><a href="{% url '[capacityWeb]:admin' %}"><i class="fa fa-folder"></i>后台管理</a></li>
                <li><a href="{% url '[capacityWeb]:logout' %}" title="退出登录"><span
                        class="glyphicon glyphicon-off"></span></a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="modal fade" id="modal-warn">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">预警详情</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <th>预警位置</th>
                        <th id="scenicPlace"></th>
                    </tr>
                    <tr>
                        <th>预警等级</th>
                        <th id="level"></th>
                    </tr>
                    <tr>
                        <th>预警类型</th>
                        <th id="type"></th>
                    </tr>
                    <tr>
                        <th>发生时间</th>
                        <th id="curtime"></th>
                    </tr>
                    <tr>
                        <th>超预警人数</th>
                        <th id="exceedNums"></th>
                    </tr>
                    <tr>
                        <th>负责人</th>
                        <th id="admin"></th>
                    </tr>
                    <tr>
                        <th>电话</th>
                        <th id="phone"></th>
                    </tr>
                    <tr>
                        <th>状态</th>
                        <th id="state"></th>
                    </tr>
                    <tr>
                        <th>画面</th>
                        <th>
                            <img id="pic" src="" alt="无" width="350">
                            <button class="btn btn-info" id="rep_btn">视频回放</button>
                        </th>
                    </tr>
                    <tr>
                        <th>操作</th>
                        <th id="notice">
                            <button class="btn btn-info" id="notice_btn">通知</button>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div>
    <div id="toolbar">
        <button id="addData" onclick="addRecord()" class="btn btn-default">插入测试数据</button>
        <button id="saveTableData" onclick="saveAdded()" class="btn btn-default">保存更改</button>
    </div>
    <table id="warntab" class="table table-hover" data-filter-control="false" data-show-columns="true"></table>
</div>
</body>
</html>
<script>
    function getWarnData() {
        $('#warntab').bootstrapTable({
            url: '/capacityWeb/getWarnData',
            method: 'get',
            toolbar: '#toolbar',                //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为 true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sortable: true,                    //是否启用排序
            sortOrder: "asc",                   //排序方式
            sidePagination: "client",           //分页方式：client 客户端分页，server 服务端分页（*）
            pageNumber: 1,                       //初始化加载第一页，默认第一页
            pageSize: 10,                        //每页的记录行数（*）
            pageList: [10, 15, 25, 50, 100],        //可供选择的每页的行数（*）
            search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以个人感觉意义不大
            strictSearch: true,                 //启用严格搜索。禁用比较检查。
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: true,                //是否启用点击选中行
            height: 700,                        //行高，如果没有设置 height 属性，表格自动根据记录条数觉得表格高度
            uniqueId: "warningId",                     //每一行的唯一标识，一般为主键列
            showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            detailView: false,                  //是否显示父子表
            showExport: true,                   //是否显示导出
            exportDataType: "basic",            //basic', 'all', 'selected'.
            columns: [{
                checkbox: true     //复选框标题，就是我们看到可以通过复选框选择整行。
            }, {
                field: 'warningId', title: 'ID', align: 'center'
            }, {
                field: 'place', title: '发生地点', align: 'center'
            }, {
                field: 'type', title: '预警类型', align: 'center'
            }, {
                field: 'level', title: '预警等级', align: 'center'
            }, {
                field: 'exceedNums', title: '超预警人数', align: 'center'
            }, {
                field: 'createAt', title: '发生时间', align: 'center'
            }, {
                field: 'name', title: '负责人', align: 'center'
            }, {
                field: 'phone', title: '联系电话', align: 'center'
            }, {
                field: 'state', title: '状态', align: 'center'
            }, {
                //ormatter:function(value,row,index) 对后台传入数据 进行操作 对数据重新赋值 返回 return 到前台
                // events 触发事件
                field: 'Button',
                title: "操作",
                align: 'center',
                formatter: function (value, row, index) {
                    return '<button type="button" class="btn btn-info notice" onclick = Notice(' + row.warningId + ',' + index + ')>通知</button><button class="btn btn-danger" title="删除" onclick="delRecord(' + row.warningId + ')">删除</button>';
                }
            },
            ]
        });
    }

    function delRecord(id) {
        var message = confirm("确认删除？");
        if (message) {
            $('#warntab').bootstrapTable('removeByUniqueId', parseInt(id));
            $.ajax({
                url: '/capacityWeb/deleteWarnData/',
                type: 'POST',
                data: {csrfmiddlewaretoken: '{{ csrf_token }}', 'warningId': id},
                async: false,
                success: function (arg) {

                }
            });
        }
    }

    {# 在表格中新增加一行空行 #}

    function writeCurrentDate() {
        var now = new Date();
        var year = now.getFullYear(); //得到年份
        var month = now.getMonth();//得到月份
        var date = now.getDate();//得到日期
        var hour = now.getHours();//得到小时
        var minu = now.getMinutes();//得到分钟
        var sec = now.getSeconds();//得到秒
        month = month + 1;
        if (month < 10) month = "0" + month;
        if (date < 10) date = "0" + date;
        if (hour < 10) hour = "0" + hour;
        if (minu < 10) minu = "0" + minu;
        if (sec < 10) sec = "0" + sec;
        var time = "";
        time = year + "-" + month + "-" + date + " " + hour + ":" + minu + ":" + sec;
        return time;
    }

    function addRecord() {
        $.ajax({
            url: '/get1Adminer/',
            type: 'POST',
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            async: false,
            success: function (arg) {
                var admin_data = JSON.parse(arg)[0];
                $('#warntab').bootstrapTable('insertRow', {
                        index: 0,
                        row: {
                            warningId: '0',
                            place: admin_data['place'],
                            type: '承载量预警',
                            level: 'III',
                            exceedNums: '10',
                            createAt: writeCurrentDate(),
                            name: admin_data['name'],
                            phone: admin_data['phone'],
                            state: '未通知',
                        }
                    }
                );
            }
        });
    }

    function saveAdded() {
        var rows = $('#warntab').bootstrapTable('getSelections');
        var rows_str = JSON.stringify(rows);
        $.get('/capacityWeb/addWarnData/', {'elements': rows_str}, function (arg) {
            var obj = JSON.parse(arg);
            alert(obj['msg']);
        });
    }

    function Notice(id, index) {
        $.ajax({
            url: '/capacityWeb/notice/',
            type: 'POST',
            data: {csrfmiddlewaretoken: '{{ csrf_token }}', 'warningId': id},
            async: false,
            success: function (arg) {
                var res = JSON.parse(arg);
                if (res.msg === '通知成功') {
                    $('#warntab').bootstrapTable('updateCell', {
                        index: index,
                        field: 'state',
                        value: '已通知'
                    });
                }
                alert(res.msg);
            }
        });
    }

    function repeat(str, n) {
        return new Array(n + 1).join(str);
    }

    function showModalWarn(id) {
        $.ajax({
            url: '/getWarnDataById/',
            type: 'POST',
            data: {csrfmiddlewaretoken: '{{ csrf_token }}', 'warningId': id},
            async: false,
            success: function (arg) {
                var obj = JSON.parse(arg)[0];
                var modal = $("#modal-warn").modal({
                    backdrop: true, // 相当于data-backdrop
                    keyboard: false, // 相当于data-keyboard
                    show: true, // 相当于data-show
                    remote: "" // 相当于a标签作为触发器的href
                });
                modal.find('#scenicPlace').text(obj.scenicName);
                modal.find('#level').text(repeat('I', obj.level));
                modal.find('#pic').attr('src', '');
                var typeId = obj.type;
                var typeName = null;
                if (typeId == 1) {
                    typeName = '承载量预警';
                } else if (typeId == 2) {
                    typeName = '游客出没';
                    modal.find('#pic').attr('src', '/static/img/warning' + id + '.jpg');
                } else if (typeId == 3) {
                    typeName = '打架';
                } else {
                    typeName = '吸烟';
                }
                modal.find('#type').text(typeName);
                modal.find('#curtime').text(obj.createAt);
                modal.find('#exceedNums').text(obj.exceedNums);
                var stateId = obj.state;
                var state = null;
                if (stateId == 1) {
                    state = '未通知';
                } else {
                    state = '已通知'
                }
                modal.find('#state').text(state);
                modal.find('#admin').text(obj.name);
                modal.find('#phone').text(obj.phone);
                modal.find('#notice_btn').attr("onclick", "Notice( " + id + " )");
            }
        });
    }

    function DetectWarn() {
        $.ajax({
            url: '/capacityWeb/DetectWarn/',
            type: 'POST',
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            async: false,
            success: function (arg) {
                var arg_json = jQuery.parseJSON(arg);
                var i;
                for (i = 0; i < arg_json.length; i++) {
                    var obj = arg_json[i];
                    var level = obj['level'];
                    var type = obj['type'];
                    var exceedNums = obj['exceedNums'];
                    var ScenicName = obj['ScenicName'];
                    var warningId = obj['warningId'];
                    var createAt = obj['createAt'];
                    var camId = obj['camId'];
                    if (type == 1 && level == 1) {
                        $('#container-warning').prepend('<a class="content-curwarn col-md-12" onclick="showModalWarn(' + warningId + ')"style="background-color: rgba(255,19,0,0.7)"> <span class="happen-time">- ' + createAt.substr(11, 5) + '  -</span>' + ScenicName + '-1级承载量预警 <span class="exceed-nums">超预警值：' + exceedNums + ' </span> </a>');
                    } else if (type == 1 && level == 2) {
                        $('#container-warning').prepend('<a class="content-curwarn col-md-12" onclick="showModalWarn(' + warningId + ')"style="background-color: rgb(255,163,0)"> <span class="happen-time">- ' + createAt.substr(11, 5) + '  -</span>' + ScenicName + '-2级承载量预警 <span class="exceed-nums">超预警值：' + exceedNums + ' </span> </a>');
                    } else if (type == 1 && level == 3) {
                        $('#container-warning').prepend('<a class="content-curwarn col-md-12" onclick="showModalWarn(' + warningId + ')"style="background-color: rgb(83,171,255)"> <span class="happen-time">- ' + createAt.substr(11, 5) + '  -</span>' + ScenicName + '-3级承载量预警 <span class="exceed-nums">超预警值：' + exceedNums + ' </span> </a>');
                    } else if (type == 2) {
                        $('#container-warning').prepend('<a class="content-curwarn col-md-12" onclick="showModalWarn(' + warningId + ')"style="background-color: rgba(255,19,0,0.7)"> <span class="happen-time">- ' + createAt.substr(11, 5) + '  -</span>' + ScenicName + '-摄像头' + camId + ' 游客出没 </a>');
                    }
                    showModalWarn(warningId);
                }
            }
        });
    }

    setInterval(DetectWarn, 20000);
    getWarnData();
</script>
