{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>千岛湖承载量预警-{{ NAME }}</title>

    <!-- StyleSheet -->
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/father_index.css' %}">
    <link rel='stylesheet' href="{% static 'css/Bmap.selfdef.css' %}">
    <link rel="shortcut icon" href="{% static 'img/icon.ico' %}" type="image/x-icon">
    <!-- JavaScript-->
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/echarts.min.js' %}"></script>
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=2.0&ak=1CFZXuwC6qpsMqryPHz6s1xzVSjbiKqR"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js"></script>
    <style>
        .img-logo > img {
            width: 100%;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#mynavbar">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'capacityWeb:index' %}"><img src="{% static 'img/logo.jpg' %}" alt="logo">千岛湖承载量预警平台-{{ NAME }}</a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="mynavbar">
            <ul class="nav navbar-nav">
                <li><a href="{% url '[capacityWeb]:index' %}"><i class="fa fa-home"></i>主页</a></li>
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false"><i
                            class="fa fa-star"></i>景区详情<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url '[capacityWeb]:meifeng' %}"><i class="fa fa-star"></i>梅峰岛</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:huangshanjian' %}"><i class="fa fa-star"></i>黄山尖</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:tianchi' %}"><i class="fa fa-star"></i>天池岛</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:yueguang' %}"><i class="fa fa-star"></i>月光岛</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:longsha' %}"><i class="fa fa-star"></i>龙山岛</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:yule' %}"><i class="fa fa-star"></i>渔乐岛</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:guihua' %}"><i class="fa fa-star"></i>桂花岛</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:mishan' %}"><i class="fa fa-star"></i>蜜山岛</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false"><i
                            class="fa fa-bar-chart"></i>预警分析<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'capacityWeb:mfanalysis' %}"><i class="fa fa-bar-chart"></i>梅峰岛</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'capacityWeb:hsanalysis' %}"><i class="fa fa-bar-chart"></i>黄山尖</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:tcanalysis' %}"><i class="fa fa-bar-chart"></i>天池岛</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:yganalysis' %}"><i class="fa fa-bar-chart"></i>月光岛</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:lsanalysis' %}"><i class="fa fa-bar-chart"></i>龙山岛</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:ylanalysis' %}"><i class="fa fa-bar-chart"></i>渔乐岛</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:ghanalysis' %}"><i class="fa fa-bar-chart"></i>挂花岛</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url '[capacityWeb]:msanalysis' %}"><i class="fa fa-bar-chart"></i>蜜山岛</a></li>
                    </ul>
                </li>
                <li><a href="{% url '[capacityWeb]:admin_warn' %}"><i class="fa fa-history"></i>预警管理</a></li>
                <li><a href="{% url '[capacityWeb]:admin' %}"><i class="fa fa-folder"></i>后台管理</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid container-main">
    <div class="col-md-3 col-sm-12" id="col1">
        <div class="container-block col-md-12" id="numdata">
            <div class="container-header">
                <div class="container-title"><i class="fa fa-users"></i> 游客人数</div>
                <div class="container-tag">历史数据</div>
            </div>
            <div class="container-content" id="container-numdata">
                <div class="numdata-line title">本周人数</div>
                <div class="numdata-line title">同比变化率</div>
                <div class="numdata-line title">环比变化率</div>
                <div class="numdata-line data">{{ num_this_week }}<span class="unit"> 人</span></div>
                {% if week_yearOveryear_rate > 0 %}
                    <div class="numdata-line data"><i id="week_yearOveryear_rate"
                                                      class="fa fa-arrow-up"
                                                      aria-hidden="true"
                                                      style="color: red"></i>
                        {{ week_yearOveryear_rate|floatformat:2 }}<span
                                class="unit"> %</span></div>
                {% elif week_yearOveryear_rate < 0 %}
                    <div class="numdata-line data"><i id="week_yearOveryear_rate"
                                                      class="fa fa-arrow-down"
                                                      aria-hidden="true"
                                                      style="color: green"></i>
                        {{ week_yearOveryear_rate|floatformat:2 }}<span
                                class="unit"> %</span></div>
                {% else %}
                    <div class="numdata-line data"><i id="week_yearOveryear_rate"
                                                      class="fa fa-minus"
                                                      aria-hidden="true"
                                                      style="color: orange"></i>
                        {{ week_yearOveryear_rate|floatformat:2 }}<span
                                class="unit"> %</span></div>
                {% endif %}
                <!--显示本周同比变化率-->
                {% if week_weekOverweek_rate > 0 %}
                    <div class="numdata-line data"><i id="week_weekOverweek_rate"
                                                      class="fa fa-arrow-up"
                                                      aria-hidden="true"
                                                      style="color: red"></i>
                        {{ week_weekOverweek_rate|floatformat:2 }}<span
                                class="unit"> %</span></div>
                {% elif week_weekOverweek_rate < 0 %}
                    <div class="numdata-line data"><i id="week_weekOverweek_rate"
                                                      class="fa fa-arrow-down"
                                                      aria-hidden="true"
                                                      style="color: green"></i>
                        {{ week_weekOverweek_rate|floatformat:2 }}<span
                                class="unit"> %</span></div>
                {% else %}
                    <div class="numdata-line data"><i id="week_weekOverweek_rate"
                                                      class="fa fa-minus"
                                                      aria-hidden="true"
                                                      style="color: orange"></i>
                        {{ week_weekOverweek_rate|floatformat:2 }}<span
                                class="unit"> %</span></div>
                {% endif %}
                <!--显示本周环比变化率-->

                <div class="numdata-line title">本月人数</div>
                <div class="numdata-line title">同比变化率</div>
                <div class="numdata-line title">环比变化率</div>
                <div class="numdata-line data">{{ num_this_month }}<span class="unit"> 人</span></div>
                {% if month_yearOveryear_rate > 0 %}
                    <div class="numdata-line data"><i id="month_yearOveryear_rate"
                                                      class="fa fa-arrow-up"
                                                      aria-hidden="true"
                                                      style="color: red"></i>
                        {{ month_yearOveryear_rate|floatformat:2 }}<span
                                class="unit"> %</span></div>
                {% elif month_yearOveryear_rate < 0 %}
                    <div class="numdata-line data"><i id="month_yearOveryear_rate"
                                                      class="fa fa-arrow-down"
                                                      aria-hidden="true"
                                                      style="color: green"></i>
                        {{ month_yearOveryear_rate|floatformat:2 }}<span
                                class="unit"> %</span></div>
                {% else %}
                    <div class="numdata-line data"><i id="month_yearOveryear_rate"
                                                      class="fa fa-minus"
                                                      aria-hidden="true"
                                                      style="color: orange"></i>
                        {{ month_yearOveryear_rate|floatformat:2 }}<span
                                class="unit"> %</span></div>
                {% endif %}
                <!--显示本月同比变化率-->
                {% if month_monthOvermonth_rate > 0 %}
                    <div class="numdata-line data"><i id="month_monthOvermonth_rate"
                                                      class="fa fa-arrow-up"
                                                      aria-hidden="true"
                                                      style="color: red"></i>
                        {{ month_monthOvermonth_rate|floatformat:2 }}<span
                                class="unit"> %</span></div>
                {% elif month_monthOvermonth_rate < 0 %}
                    <div class="numdata-line data"><i id="month_monthOvermonth_rate"
                                                      class="fa fa-arrow-down"
                                                      aria-hidden="true"
                                                      style="color: green"></i>
                        {{ month_monthOvermonth_rate|floatformat:2 }}<span
                                class="unit"> %</span></div>
                {% else %}
                    <div class="numdata-line data"><i id="month_monthOvermonth_rate"
                                                      class="fa fa-minus"
                                                      aria-hidden="true"
                                                      style="color: orange"></i>
                        {{ month_monthOvermonth_rate|floatformat:2 }}<span
                                class="unit"> %</span></div>
                {% endif %}
                <!--显示本月环比变化率-->
            </div>
        </div>
{#        <div class="container-block col-md-12" id="nowwarning">#}
{#            <div class="container-header">#}
{#                <div class="container-title"><i class="fa fa-warning"></i> 当前预警情况</div>#}
{#                <div class="container-tag">当前情况</div>#}
{#            </div>#}
{#            <div class="container-content" id="container-nowwarning">#}
{#                {% for item in curwarn %}#}
{#                    {% if item.type == 1 and item.level == 1 %}#}
{#                        <div class="content-curwarn col-md-12"#}
{#                             style="background-color: rgba(255,19,0,0.7)">{{ item.scenicName }}-{{ item.level }}级承载量预警#}
{#                            <span class="exceed-nums">超预警值：{{ item.exceedNums }}</span>#}
{#                        </div>#}
{#                    {% elif item.type == 1 and item.level == 2 %}#}
{#                        <div class="content-curwarn col-md-12"#}
{#                             style="background-color: rgba(255,163,0,0.7);">{{ item.scenicName }}-{{ item.level }}级承载量预警#}
{#                            <span class="exceed-nums">超预警值：{{ item.exceedNums }}</span>#}
{#                        </div>#}
{#                    {% elif item.type == 1 and item.level == 3 %}#}
{#                        <div class="content-curwarn col-md-12"#}
{#                             style="background-color: rgba(83,171,255,0.7);">{{ item.scenicName }}-{{ item.level }}级承载量预警#}
{#                            <span class="exceed-nums">超预警值：{{ item.exceedNums }}</span>#}
{#                        </div>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#            </div>#}
{#        </div>#}
        <div class="container-block col-md-12" id="nowwarning">
            <div class="container-header">
                <div class="container-title"><i class="fa fa-warning"></i> 最新预警</div>
                <div class="container-tag">{{ today2day }}</div>
            </div>
            <div class="container-content" id="container-warning">
                {% if not curwarn %}
                    <div class="nowarning">暂无紧急情况</div>
                {% endif %}
                {% for item in curwarn %}
                    {% if item.type == 1 and item.level == 1 %}
                        <div class="content-curwarn col-md-12" style="background-color: rgba(255,19,0,0.7)">
                            <span class="happen-time">- {{ item.createAtMin }} -</span>
                            {{ item.scenicName }}-{{ item.level }}级承载量预警
                            <span class="exceed-nums">超预警值：{{ item.exceedNums }}</span>
                        </div>
                    {% elif item.type == 1 and item.level == 2 %}
                        <div class="content-curwarn col-md-12" style="background-color: rgb(255,163,0);">
                            <span class="happen-time">- {{ item.createAtMin }} -</span>
                            {{ item.scenicName }}-{{ item.level }}级承载量预警
                            <span class="exceed-nums">超预警值：{{ item.exceedNums }}</span>
                        </div>
                    {% elif item.type == 1 and item.level == 3 %}
                        <div class="content-curwarn col-md-12" style="background-color: rgb(83,171,255);">
                            <span class="happen-time">- {{ item.createAtMin }} -</span>
                            {{ item.scenicName }}-{{ item.level }}级承载量预警
                            <span class="exceed-nums">超预警值：{{ item.exceedNums }}</span>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="container-block col-md-12" id="numsMonthRank">
            <div class="container-header">
                <div class="container-title"><i class="fa fa-list-ul"></i> 景区人数排行</div>
                <div class="container-tag">本月</div>
            </div>
            <div class="container-content" id="container-numsMonthRank">

            </div>
        </div>
    </div>
    <div class="col-md-6  col-sm-12" id="col2">
        <div class="container-block col-md-12" id="heatmap">
            <div class="container-header">
                <div class="container-title"><i class="fa fa-map-marker"></i> 景区热力图</div>
                <div class="container-tag">当前情况</div>
            </div>
            <div class="container-content" id="container-heatmap">

            </div>
            <button onclick="fullscreen_click(this)" id="heatmap-tourist-full"><img
                    src="{% static 'img/fullscreen.svg' %}"
                    alt="fullscreen"></button>
            <div class="modal fade" id="modal-vid">
                <div class="modal-dialog" style="width:70%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">监控视频</h4>
                        </div>
                        <div class="modal-body">
                            <p class="modal-number">当前人数:<span id="modal-vid-count">0</span></p>
                            <video id="vid1" controls autoplay="autoplay"
                                   style="height: 100%;width: 100%;object-fit: fill;"></video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-block col-md-12" id="numbar">
            <div class="container-header">
                <div class="container-title"><i class="fa fa-bar-chart-o"></i> 人数变化</div>
                <select class="container-tag" onchange="numbar_onchange()" id="numbar_selected">
                    <option class="container-tag" value="1" selected>一小时内</option>
                    <option class="container-tag" value="2">一天内</option>
                    <option class="container-tag" value="3">一周内</option>
                    <option class="container-tag" value="4">本月内</option>
                </select>
            </div>
            <div class="container-content" id="container-numbar">

            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12" id="col3">
        <div class="container-block col-md-12" id="warndata">
            <div class="container-header">
                <div class="container-title"><i class="fa fa-exclamation"></i> 预警次数</div>
                <div class="container-tag">历史数据</div>
            </div>
            <div class="container-content" id="container-warndata">
                <div class="warndata-line title">本周预警次数</div>
                <div class="warndata-line title">同比变化率</div>
                <div class="warndata-line title">环比变化率</div>
                <div class="warndata-line data">{{ num_this_week_warn }}<span class="unit"> 次</span></div>
                {% if week_yearOveryear_rate_warn > 0 %}
                    <div class="numdata-line data"><i id="week_yearOveryear_rate_warn"
                                                      class="fa fa-arrow-up"
                                                      aria-hidden="true"
                                                      style="color: red"></i>
                        {{ week_yearOveryear_rate_warn|floatformat:2 }}<span
                                class="unit"> %</span></div>
                {% elif week_yearOveryear_rate_warn < 0 %}
                    <div class="numdata-line data"><i id="week_yearOveryear_rate_warn"
                                                      class="fa fa-arrow-down"
                                                      aria-hidden="true"
                                                      style="color: green"></i>
                        {{ week_yearOveryear_rate_warn|floatformat:2 }}<span
                                class="unit"> %</span></div>
                {% else %}
                    <div class="numdata-line data"><i id="week_yearOveryear_rate_warn"
                                                      class="fa fa-minus"
                                                      aria-hidden="true"
                                                      style="color: orange"></i>
                        {{ week_yearOveryear_rate_warn|floatformat:2 }}<span
                                class="unit"> %</span></div>
                {% endif %}
                <!--显示本周同比变化率-->
                {% if week_weekOverweek_rate_warn > 0 %}
                    <div class="numdata-line data"><i id="week_weekOverweek_rate_warn"
                                                      class="fa fa-arrow-up"
                                                      aria-hidden="true"
                                                      style="color: red"></i>
                        {{ week_weekOverweek_rate_warn|floatformat:2 }}<span
                                class="unit"> %</span></div>
                {% elif week_weekOverweek_rate_warn < 0 %}
                    <div class="numdata-line data"><i id="week_weekOverweek_rate_warn"
                                                      class="fa fa-arrow-down"
                                                      aria-hidden="true"
                                                      style="color: green"></i>
                        {{ week_weekOverweek_rate_warn|floatformat:2 }}<span
                                class="unit"> %</span></div>
                {% else %}
                    <div class="numdata-line data"><i id="week_weekOverweek_rate_warn"
                                                      class="fa fa-minus"
                                                      aria-hidden="true"
                                                      style="color: orange"></i>
                        {{ week_weekOverweek_rate_warn|floatformat:2 }}<span
                                class="unit"> %</span></div>
                {% endif %}
                <!--显示本周环比变化率-->
                <div class="warndata-line title">本月预警次数</div>
                <div class="warndata-line title">同比变化率</div>
                <div class="warndata-line title">环比变化率</div>
                <div class="warndata-line data">{{ num_this_month_warn }}<span class="unit"> 次</span></div>
                {% if month_yearOveryear_rate_warn > 0 %}
                    <div class="numdata-line data"><i id="month_yearOveryear_rate_warn"
                                                      class="fa fa-arrow-up"
                                                      aria-hidden="true"
                                                      style="color: red"></i>
                        {{ month_yearOveryear_rate_warn|floatformat:2 }}<span
                                class="unit"> %</span></div>
                {% elif month_yearOveryear_rate_warn < 0 %}
                    <div class="numdata-line data"><i id="month_yearOveryear_rate_warn"
                                                      class="fa fa-arrow-down"
                                                      aria-hidden="true"
                                                      style="color: green"></i>
                        {{ month_yearOveryear_rate_warn|floatformat:2 }}<span
                                class="unit"> %</span></div>
                {% else %}
                    <div class="numdata-line data"><i id="month_yearOveryear_rate_warn"
                                                      class="fa fa-minus"
                                                      aria-hidden="true"
                                                      style="color: orange"></i>
                        {{ month_yearOveryear_rate_warn|floatformat:2 }}<span
                                class="unit"> %</span></div>
                {% endif %}
                <!--显示本月同比变化率-->
                {% if month_monthOvermonth_rate_warn > 0 %}
                    <div class="numdata-line data"><i id="month_monthOvermonth_rate_warn"
                                                      class="fa fa-arrow-up"
                                                      aria-hidden="true"
                                                      style="color: red"></i>
                        {{ month_monthOvermonth_rate_warn|floatformat:2 }}<span
                                class="unit"> %</span></div>
                {% elif month_monthOvermonth_rate_warn < 0 %}
                    <div class="numdata-line data"><i id="month_monthOvermonth_rate_warn"
                                                      class="fa fa-arrow-down"
                                                      aria-hidden="true"
                                                      style="color: green"></i>
                        {{ month_monthOvermonth_rate_warn|floatformat:2 }}<span
                                class="unit"> %</span></div>
                {% else %}
                    <div class="numdata-line data"><i id="month_monthOvermonth_rate_warn"
                                                      class="fa fa-minus"
                                                      aria-hidden="true"
                                                      style="color: orange"></i>
                        {{ month_monthOvermonth_rate_warn|floatformat:2 }}<span
                                class="unit"> %</span></div>
                {% endif %}
                <!--显示本月环比变化率-->
            </div>
        </div>
        <div class="container-block col-md-12" id="piedata">
            <div class="container-header">
                <div class="container-title"><i class="fa fa-pie-chart"></i>各月份游客人数分布</div>
                <div class="container-tag">历史数据</div>
            </div>
            <div class="piedata-title">今年</div>
            <div class="piedata-title">去年</div>
            <div class="container-content" id="container-piedata1"></div>
            <div class="container-content" id="container-piedata2"></div>
        </div>
        <div class="container-block col-md-12" id="numsWeekRank">
            <div class="container-header">
                <div class="container-title"><i class="fa fa-list-ul"></i> 景区人数排行</div>
                <div class="container-tag">本周</div>
            </div>
            <div class="container-content" id="container-numsWeekRank">
            </div>
        </div>
    </div>
</div>

</body>
</html>
{% block baiduimg %}
    <script type="text/javascript">
        // 百度地图API功能，游客人数热力图
        var map_scenic = new BMap.Map("container-heatmap", {enableMapClick: false});    // 创建Map实例
        var zoom_tour_num = 12;
        var marker_tour_array = [];
        var camera_tour_array = [];
        map_scenic.centerAndZoom(new BMap.Point({{ scenic_lng }}, {{ scenic_lat }}), 16); //初始化地图,设置中心点坐标和地图级别
        map_scenic.setCurrentCity("杭州");          // 设置地图显示的城市 此项是必须设置的
        map_scenic.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
        // 清除所有标注物
        function clearAllMarkers(map, marker_array) {
            var i;
            for (i = 0; i < marker_array.length; i++) {
                map.removeOverlay(marker_array[i]);
            }
            marker_array.length = 0;
        }

        function addOverHandler_tour(id, name, content, marker, bounce = 1) {
            var info_window_tour = {
                width: 200,     // 信息窗口宽度
                height: 60,     // 信息窗口高度
                title: name, // 信息窗口标题
                enableMessage: true //设置允许信息窗发送短息
            };
            if (bounce) {
                marker.setAnimation(BMAP_ANIMATION_BOUNCE); // 标注跳动
            }
            var info_timeout;
            marker.addEventListener("mouseover", function (e) {
                    if (info_timeout != null) {
                        clearTimeout(info_timeout);
                        info_timeout = null;
                    }
                    var p = e.target;
                    var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
                    var infoWindow_tour = new BMap.InfoWindow(content, info_window_tour);  // 创建信息窗口对象
                    map_scenic.openInfoWindow(infoWindow_tour, point); //开启信息窗口
                }
            );
            marker.addEventListener("mouseout", function (e) {
                    clearTimeout(info_timeout);
                    info_timeout = setTimeout("map_scenic.closeInfoWindow()", 2000);
                }
            );
            marker.addEventListener("click", function (e) {
                    if (id == 1)
                        window.location.href = "{% url '[capacityWeb]:meifeng' %}";
                    else if (id == 2)
                        window.location.href = "{% url '[capacityWeb]:huangshanjian' %}";
                    else if (id == 3)
                        window.location.href = "{% url '[capacityWeb]:tianchi' %}";
                    else if (id == 4)
                        window.location.href = "{% url '[capacityWeb]:yueguang' %}";
                    else if (id == 5)
                        window.location.href = "{% url '[capacityWeb]:longsha' %}";
                    else if (id == 6)
                        window.location.href = "{% url '[capacityWeb]:yule' %}";
                    else if (id == 7)
                        window.location.href = "{% url '[capacityWeb]:guihua' %}";
                    else if (id == 8)
                        window.location.href = "{% url '[capacityWeb]:mishan' %}";
                }
            );
        }

        // 加载热力图
        function heatmap_nums() {
            // 清除所有摄像头分布
            clearAllMarkers(map_scenic, camera_tour_array);
            // 坐标点
            $.ajax({
                url: '/getHeatMapNums/',
                type: 'POST',
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                async: true,
                success: function (arg) {
                    // 若调用成功，向地图添加标记
                    var obj_tour = jQuery.parseJSON(arg)[0];
                    // 各摄像头的统计对象
                    cam_points_obj = obj_tour['rn_data'];
                    // 景区标注对象
                    scenic_points_obj = obj_tour['scenic_data'];
                    var points = [];
                    var scenicnums = [];
                    // 初始化景区人数之和
                    for (i = 0; i < scenic_points_obj.length; i++) {
                        scenicnums[i] = 0;
                    }
                    // 统计各摄像头信息
                    for (i = 0; i < cam_points_obj.length; i++) {
                        points.push({
                            'lng': cam_points_obj[i].camLng,
                            'lat': cam_points_obj[i].camLat,
                            'count': cam_points_obj[i].all_nums
                        });
                        scenicnums[cam_points_obj[i].scenicId - 1] += cam_points_obj[i].all_nums;
                    }
                    // 添加标注物
                    for (var i = 0; i < scenic_points_obj.length; i++) {
                        var point = new BMap.Point(scenic_points_obj[i].fields.lng, scenic_points_obj[i].fields.lat); // 坐标点
                        var marker = new BMap.Marker(point); // 标注物
                        map_scenic.addOverlay(marker);
                        marker_tour_array.push(marker);
                        addOverHandler_tour(i + 1, scenic_points_obj[i].fields.scenicname, '当前景区人数：' + scenicnums[i], marker);
                    }
                    heatmapOverlay = new BMapLib.HeatmapOverlay({"radius": 20});
                    map_scenic.addOverlay(heatmapOverlay);
                    heatmapOverlay.setDataSet({data: points, max: 1000});
                    heatmapOverlay.show();
                }
            });
        }

        var vidcount_itv;

        // 加载摄像头分布
        function heatmap_get_tour_camera() {
            clearAllMarkers(map_scenic, marker_tour_array);
            $.ajax({
                url: '/getHeatMapCamera/',
                type: 'POST',
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                async: true,
                success: function (arg) {
                    // 若调用成功，向地图添加标记
                    var camera_obj = jQuery.parseJSON(arg)[0]['camera_data'];
                    var icon = new BMap.Icon('{% static 'img/camera.svg' %}', new BMap.Size(20, 32),
                        {
                            'anchor': new BMap.Size(10, 20)
                        });
                    // 统计各摄像头信息
                    for (i = 0; i < camera_obj.length; i++) {
                        var point = new BMap.Point(camera_obj[i].camLng, camera_obj[i].camLat); // 坐标点
                        var marker = new BMap.Marker(point, {icon: icon}); // 标注物
                        var vid_name = 'vid_s' + camera_obj[i].scenicId + '_c1.mp4';
                        if (camera_obj[i].scenicId == 1 && camera_obj[i].camId == 2) {
                            vid_name = 'vid_s1_c2.mp4';
                        }
                        var cam_name = '监控视频 - ' + camera_obj[i].camPlace;
                        //自定义参数id
                        marker.vid_name = vid_name;
                        marker.cam_name = cam_name;
                        // 添加事件
                        marker.addEventListener("click", function (e) {
                            $("#modal-vid").modal({
                                backdrop: true, // 相当于data-backdrop
                                keyboard: false, // 相当于data-keyboard
                                show: true, // 相当于data-show
                                remote: "" // 相当于a标签作为触发器的href
                            });
                            var modal = $("#modal-vid").modal();
                            modal.find('.modal-title').text(e.target.cam_name);
                            modal.find('.modal-body video').attr("src", "/static/video/" + e.target.vid_name);
                            modal.find('#modal-vid-count').text(0);
                            // 开始检测视频
                            $.ajax({
                                url: '/startDetectCount_thread/',
                                type: 'POST',
                                data: {
                                    csrfmiddlewaretoken: '{{ csrf_token }}', 'vid_name': e.target.vid_name,
                                },
                                async: false,
                                success: function (arg) {
                                    arg_json = JSON.parse(arg);
                                    // alert(arg_json.msg);
                                }
                            });

                            function getDetectCount_vid() {
                                $.ajax({
                                    url: '/getCountNum_thread/',
                                    type: 'POST',
                                    data: {
                                        csrfmiddlewaretoken: '{{ csrf_token }}'
                                    },
                                    async: false,
                                    success: function (arg) {
                                        arg_json = JSON.parse(arg);
                                        modal.find('#modal-vid-count').text(arg_json.count);
                                    }
                                });
                            }

                            vidcount_itv = setInterval(getDetectCount_vid, 1000);
                        });
                        map_scenic.addOverlay(marker);
                        camera_tour_array.push(marker);
                    }
                }
            });
        }

        // 层级缩放事件
        map_scenic.addEventListener("zoomend", function () {
            var zoom_num_now = map_scenic.getZoom();
            // 如果之前的层级小于17，而现在的层级大于等于17，加载热力图
            if (zoom_tour_num < 17 && zoom_num_now >= 17) {
                heatmap_get_tour_camera();
            }
            // 如果之前的层级大于等于17，而现在的层级小于17，加载摄像头
            else if (zoom_tour_num >= 17 && zoom_num_now < 17) {
                heatmap_nums();
            }
            zoom_tour_num = zoom_num_now
        });
        // 加载事件，首次加载，默认执行
        map_scenic.addEventListener("addtilelayer", function () {
            heatmap_nums();
        });
        // 视频模态框
        $('#modal-vid').on('show.bs.modal', function () {
            var $this = $(this);
            var $modal_dialog = $this.find('.modal-dialog');
            $this.css('display', 'block');
            $modal_dialog.css({'margin-top': Math.max(0, ($(window).height() - $modal_dialog.height()) / 2)});
        });
        $('#modal-vid').on('hidden.bs.modal', function () {
            // 关闭定时
            clearInterval(vidcount_itv);
            // 关闭线程
            $.ajax({
                url: '/exitDetectCount_thread/',
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                async: false,
                success: function (arg) {
                    arg_json = JSON.parse(arg);
                }
            });
            // 视频暂停
            var video = document.getElementById('vid1');
            video.pause();
        });
    </script>
{% endblock %}
<script type="text/javascript">
    try {
        var myChart = echarts.init(document.getElementById('container-numsMonthRank'));
        var option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {type: 'line'}
            },<!--当鼠标移动到柱状图的某一个bar时出现提示框-->
            yAxis: {
                type: 'category',
                <!--设置y轴为类型轴-->
                data:{{ place_month_rank | safe }},
                <!--设置类型数据，在这里是各个地点。-->
                axisTick: {
                    inside: false,
                    alignWithLabel: true,
                    lineStyle: {
                        color: '#c3c3c3',
                    },
                },<!--设置y轴的“突出线”：向外显示，对齐label，灰色-->
                axisLine: {
                    lineStyle: {
                        color: '#c3c3c3',
                    },
                },<!--设置y轴的轴线：灰色-->
                axisLabel: {
                    fontWeight: 'bold',
                    color: '#000',
                }, <!--设置y上的label：黑色粗体-->
            }, <!--设置y轴的属性-->
            xAxis: {
                type: 'value',
                <!--设置x轴为value轴-->
                show: true,
                splitNumber: 5,
                splitLine: {
                    lineStyle: {
                        type: 'dotted',
                    },
                },
                <!--设置x轴的分割线：虚线-->
                axisLine: {
                    lineStyle: {
                        color: '#c3c3c3',
                        type: 'dotted',
                    },
                },
                <!--设置x轴的轴线：灰色虚线-->
                axisLabel: {
                    fontWeight: 'bold',
                    color: '#000',
                },
                <!--设置x轴上显示的标签：黑色粗体-->
                axisTick: {
                    color: '#c3c3c3',
                },
                <!--设置x轴上的‘突出物’：灰色对齐-->
            },
            grid: {
                show: false,
                top: '1%',
                bottom: '1%',
                left: '1%',
                right: '7%',
                <!--这里的top,bottom,left,right相当于margin-->
                containLabel: true,
                <!--这句话很重要，表示不管标签多大我们都需要自适应的将其显示出来-->
            },
            series: [
                {
                    name: '人数',
                    type: 'bar',
                    data:{{ nums_month_rank }},
                    label: {   <!--在柱状图上显示数字，有点丑不显示为好-->
                        show: false,
                        position: 'insideTop',
                        rotate: 20,
                        color: '#eee',
                    },
                    itemStyle: {
                        color: '#E14E35',
                    }
                }
            ]
        };
        myChart.setOption(option)
    } catch (e) {
        alert(e.message)
    }

</script>
<script type="text/javascript">
    try {
        var myChart = echarts.init(document.getElementById('container-numsWeekRank'));
        var option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {type: 'line'}
            },<!--当鼠标移动到柱状图的某一个bar时出现提示框-->
            yAxis: {
                type: 'category',
                <!--设置y轴为类型轴-->
                data:{{ place_week_rank | safe }},
                <!--设置类型数据，在这里是各个地点。-->
                axisTick: {
                    inside: false,
                    alignWithLabel: true,
                    lineStyle: {
                        color: '#c3c3c3',
                    },
                },<!--设置y轴的“突出线”：向外显示，对齐label，灰色-->
                axisLine: {
                    lineStyle: {
                        color: '#c3c3c3',
                    },
                },<!--设置y轴的轴线：灰色-->
                axisLabel: {
                    fontWeight: 'bold',
                    color: '#000',
                }, <!--设置y上的label：黑色粗体-->
            }, <!--设置y轴的属性-->
            xAxis: {
                type: 'value',
                <!--设置x轴为value轴-->
                boundaryGap: true,
                show: true,
                splitNumber: 5,
                splitLine: {
                    lineStyle: {
                        type: 'dotted',
                    },
                },
                <!--设置x轴的分割线：虚线-->
                axisLine: {
                    lineStyle: {
                        color: '#c3c3c3',
                        type: 'dotted',
                    },
                },
                <!--设置x轴的轴线：灰色虚线-->
                axisLabel: {
                    fontWeight: 'bold',
                    color: '#000',
                },
                <!--设置x轴上显示的标签：黑色粗体-->
                axisTick: {
                    color: '#c3c3c3',
                },
                <!--设置x轴上的‘突出物’：灰色对齐-->
            },
            grid: {
                show: false,
                top: '1%',
                bottom: '1%',
                left: '1%',
                right: '7%',
                <!--这里的top,bottom,left,right相当于margin-->
                containLabel: true,
                <!--这句话很重要，表示不管标签多大我们都需要自适应的将其显示出来-->
            },
            series: [
                {
                    name: '人数',
                    type: 'bar',
                    data:{{ nums_week_rank }},
                    label: {   <!--在柱状图上显示数字，有点丑不显示为好-->
                        show: false,
                        position: 'insideTop',
                        rotate: 20,
                        color: '#eee',
                    },
                    itemStyle: {
                        color: '#8099E1',
                    }
                }
            ]
        };
        myChart.setOption(option)
    } catch (e) {
        alert(e.message)
    }

</script>

<script type="text/javascript">
    try {
        var myChart = echarts.init(document.getElementById('container-numbar'));//定义折线图显示的位置对象
        var datas = {{ start_data }},
            option = {
                tooltip: {
                    trigger: 'axis',
                },
                xAxis: {
                    type: 'time',
                    splitLine: {
                        show: true
                    },
                    splitArea: {
                        show: true,
                    },
                    axisLabel: {
                        interale: 0,
                        rotate: 0,
                        margin: 8,
                        fontWeight: 'bold',
                        formatter: function (value) {
                            var t_date = new Date(value);
                            return [t_date.getMonth() + 1, t_date.getDate()].join('-') + " "
                                + [t_date.getHours(), t_date.getMinutes()].join(':');
                        }
                    },
                },
                yAxis: {
                    type: 'value',
                    boundaryGap: [0, '100%'],
                    splitLine: {
                        show: true,
                    },
                    axisLabel: {
                        fontWeight: 'bold',
                    },
                    splitArea: {
                        show: false,
                    },

                },
                grid: {
                    bottom: '8%',
                    top: '5%',
                    right: '5%',
                },
                series: [{
                    name: '游客人数',
                    type: 'line',
                    showSymbol: false,
                    hoverAnimation: false,
                    data: datas
                }]
            };
        myChart.setOption(option);

        function oneHourLine() {
            clearInterval(iUpdate);
            updateOneHour();

            iUpdate = setInterval(updateOneHour, 60000)
        }

        function dayLine() {
            clearInterval(iUpdate);
            updateDay();
        }

        function weekLine() {
            clearInterval(iUpdate);
            updateWeek();

        }

        function monthLine() {
            clearInterval(iUpdate);

            updateMonth();

        }


        function numbar_onchange() {
            var myselect = document.getElementById("numbar_selected");
            var index = myselect.selectedIndex;
            var v = myselect.options[index].value;
            if (v == "1") {
                oneHourLine();
            } else if (v == "2") {
                dayLine();
            } else if (v == "3") {
                weekLine();
            } else {
                monthLine();
            }
        }

        function updateOneHour() {
            var id = {{ scenic_id }}
                $.get('/capacityWeb/updatetodayTouristNums/', {'scenicid': id}, function (msg) {
                    datas.length = 0;
                    datas = msg;
                    myChart.setOption({
                        xAxis: {
                            type: 'time',
                            splitLine: {
                                show: true
                            },
                            splitArea: {
                                show: true,
                            },
                            axisLabel: {
                                interale: 0,
                                rotate: 0,
                                margin: 8,
                                fontWeight: 'bold',
                                formatter: function (value) {
                                    var t_date = new Date(value);
                                    return [t_date.getMonth() + 1, t_date.getDate()].join('-') + " "
                                        + [t_date.getHours(), t_date.getMinutes()].join(':');
                                }
                            },
                        },
                        series: [{
                            data: datas,
                            showSymbol: false,
                            hoverAnimation: false,
                        }]
                    })
                })
        }

        function updateDay() {
            myChart.setOption({
                xAxis: {
                    type: 'time',
                    splitLine: {
                        show: true
                    },
                    splitArea: {
                        show: true,
                    },
                    axisLabel: {
                        interale: 0,
                        rotate: 0,
                        margin: 8,
                        fontWeight: 'bold',
                        formatter: function (value) {
                            var t_date = new Date(value);
                            return [t_date.getMonth() + 1, t_date.getDate()].join('-') + " " + t_date.getHours() + "点";
                        }
                    },
                },
                series: [{
                    data: {{ start_data_week }},
                    showSymbol: true,
                    hoverAnimation: true,
                }]
            })
        }

        function updateWeek() {
            myChart.setOption({
                xAxis: {
                    type: 'time',
                    splitLine: {
                        show: true
                    },
                    splitArea: {
                        show: true,
                    },
                    axisLabel: {
                        interale: 0,
                        rotate: 0,
                        margin: 8,
                        fontWeight: 'bold',
                        formatter: function (value) {
                            var t_date = new Date(value);
                            return [t_date.getMonth() + 1, t_date.getDate()].join('-');
                        }
                    },
                },
                series: [{
                    data: {{ start_data_week }},
                    showSymbol: true,
                    hoverAnimation: true,
                }]
            })
        }

        function updateMonth() {
            myChart.setOption({
                xAxis: {
                    type: 'time',
                    splitLine: {
                        show: true
                    },
                    splitArea: {
                        show: true,
                    },
                    axisLabel: {
                        interale: 0,
                        rotate: 0,
                        margin: 8,
                        fontWeight: 'bold',
                        formatter: function (value) {
                            var t_date = new Date(value);
                            return [t_date.getMonth() + 1, t_date.getDate()].join('-')
                                ;
                        }
                    },
                },
                series: [{
                    data: {{ start_data_month }},
                    showSymbol: true,
                    hoverAnimation: true,
                }]
            })
        }

        var iUpdate = setInterval(updateOneHour, 60000)
    } catch (e) {
        alert(e.message)
    }

</script>
<script type="text/javascript">
    try {
        myChart2 = echarts.init(document.getElementById('container-piedata1'));
        option = {
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}月份 : {c} ({d}%)",
                confine: true,
            },

            calculable: true,
            series: [
                {
                    name: '游客人数',
                    type: 'pie',
                    radius: [0, 60],
                    center: ['50%', '40%'],

                    label: {
                        normal: {
                            show: false
                        },
                        emphasis: {
                            show: false
                        }
                    },

                    data: {{ distribute_thisYear | safe }}
                },
            ]
        };
        myChart2.setOption(option);
        window.addEventListener("resize", function () {
            myChart2.resize();
        })
    } catch (e) {
        alert(e.message)
    }
</script>

<script>
    try {
        myChart3 = echarts.init(document.getElementById('container-piedata2'));
        option = {
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}月份 : {c} ({d}%)",
                confine: true,
            },
            series: [
                {
                    name: '游客人数',
                    type: 'pie',
                    radius: [0, 60],
                    center: ['50%', '40%'],

                    label: {
                        normal: {
                            show: false,
                        },
                        emphasis: {
                            show: false,
                        },
                    },
                    data: {{ distribute_lastYear | safe }}

                }
            ]
        };
        myChart3.setOption(option);
        window.addEventListener("resize", function () {
            myChart3.resize();
        })
    } catch (e) {
        alert(e.message)
    }
</script>

