{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
</head>
<body>
<p id="count">-</p>
<button onclick="start_thread()">测试</button>
</body>
<script>
    function start_thread() {
        $.ajax({
            url: '/get_count/',
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function (arg) {
                var arg_json = jQuery.parseJSON(arg);
                alert(arg_json.msg);
            }
        })
    }
    function btn_func() {
        $.ajax({
            url: '/test1/',
            type: 'POST',
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            async: true,
            success: function (arg) {
                var arg_json = jQuery.parseJSON(arg);
                document.getElementById('count').innerText = arg_json.count;
            }
        })
    }
    setInterval(btn_func, 1000);
</script>
</html>